.menu {
  display: grid;
  place-items: center;
}

.list {
  background-color: #f2f2f2;
  margin: 1rem 0;
  padding: 7px 20px;
}
.list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list li button a {
  text-decoration: none;
}
.list li button {
  background-color: #ffffff;
  border: none;
  border-radius: 7px;
  margin: 0 2rem;
  padding: 7px 20px;
}
.list li button:hover {
  background-color: #d1d1d1;
}
.nav {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav button {
  border: none;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px;
}
.nav button:hover {
  background-color: #d1d1d1;
}
