button a {
  text-decoration: none;
  color: #222222;
}

button {
  background-color: #d1d1d1;
  border: none;
  border-radius: 7px;
  margin: 0 2rem;
  padding: 7px 20px;
}
button:hover {
  background-color: #f2f2f2;
}

.item_detail {
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.item_detail li {
  list-style: circle;
  text-indent: 2rem;
}
